$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);


$font-family-primary: 'Open Sans', sans-serif;

/* Colors */
$white: #fff;
$dark: #303030;
$bright-green: #00f3a5;

$primary-text-color: $dark;
$background-color: $white;

body{
  font-family: $font-family-primary;
  color: $primary-text-color;
  background-color: $background-color;
}


.thin-text{
  font-weight: 300;
}

.normal-text{
  font-weight: 400;
}

.semi-bold-text{
  font-weight: 600;
}

.bold-text{
  font-weight: 800;
}

.xl-text{
  font-size: 72px;
}
.lg-text{
  font-size: 30px;
}
.lg-text{
  font-size: 30px;
}

.md-text{
  font-size: 20px;
}

.sm-text{
  font-size: 14px;
}

.xs-text{
  font-size: 12px;
}

.green-text{
  color: $bright-green;
}

h1{
  letter-spacing: -2px;
}

h2, h3, h4{
  letter-spacing: -1px;
}

a{
  color: $bright-green;
}

a:hover{
  color: #999;
  text-decoration: underline;
}

.my-gravatar{
  margin-top: 100px;
  margin-bottom: 100px;
}

.my-gravatar img{
  border-radius: 300px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid;
  border-color: $dark;
}