<div class="mt++"></div>
<div class="row">
	<div class="col-md-12">
		<img class="img-circle center-block" gravatar-src="'joaocmfcm@gmail.com'" gravatar-size="200" style="border: 3px white solid">
	</div>
	<div class="col-md-12 text-center">
		<span class="fs-display-4 display-block main-text">Hi, I'm João!</span>
	</div>
</div>

<div class="row white-row">
	<div class="col-md-12 text-center">
		<span class="fs-display-1 display-block main-text light-text">I'm a software engineer from Coimbra - Portugal,</span>
		<span class="fs-display-1 display-block main-text light-text">extremely focused on web developement.</span>
	</div>
	<div class="col-md-12 text-center mt++" id="social-icons-list">
		<a href="https://pt.linkedin.com/in/joaocmfcm"><i class="icon icon--xl icon-salmon icon--circled mdi mdi-linkedin"></i></a>
		<a href="https://www.facebook.com/joaocmfcmartins"><i class="icon icon--xl icon-salmon icon--circled mdi mdi-facebook"></i></a>
		<a href="https://twitter.com/joaocmfcm"><i class="icon icon--xl icon-salmon icon--circled mdi mdi-twitter"></i></a>
	</div>
	<!-- <div class="col-md-12 text-center mt++">
		<span class="fs-heading display-block main-text light-text">More information</span>
		<i id="more-info-button" class="icon icon--xl icon-salmon icon--flat mdi mdi-chevron-double-down" ng-click="showInfo=!showInfo"></i>	
	</div>

	<div class="col-md-12 text-center mt++" id="info-section" ng-show="showInfo">
		<span class="fs-heading display-block main-text normal-text">This is info</span>	
	</div> -->
</div>      
