<div class="row">
  <div class="col-md-12 text-center">

    <div class="my-gravatar">
      <img class="img-responsive" gravatar-src="'joaocmfcm@gmail.com'" gravatar-size="200">
    </div>
    
    <h1 class="xl-text semi-bold-text">Hi, I'm João</h1>
  </div>

  <div class="col-md-6 col-md-offset-3">
      <h4>I'm a software engineer from Coimbra in Portugal and I work as a front-end web developer <a href="https://www.wit-software.com">@WIT Software</a>.</h4>
  </div>

    

  <div class="col-md-12 text-center" id="social-icons-list">
    <a href="https://pt.linkedin.com/in/joaocmfcm"><i class="fa fa-linkedin-square fa-3x"></i></a>
    <a href="https://www.facebook.com/joaocmfcmartins"><i class="fa fa-facebook fa-3x"></i></a>
    <a href="https://twitter.com/joaocmfcm"><i class="fa fa-twitter fa-3x"></i></a>
  </div>

</div>
